/*Shared style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}



/*navber section style*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav h1 {
    font-size: 2.8rem;
    font-weight: 700;
}


span {
    color: #FF42A5;

}

.nav-button {
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}

.nav-option {
    display: flex;
}

ul li {
    list-style: none;
    padding-right: 30px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

ul {
    display: flex;
}

/*Banner Section*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Group 14.png');
    background-repeat: no-repeat;
    width: 100%;
}



.banner-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 0px;
    padding-top: 0px;
}

.grad {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.banner-btn{
    display: flex;
    gap: 10px;
}

.banner-content{

   width: 50%;
   padding: 120px;
  
    
}
.banner-img{
    width: 600px;
    padding-right: 240px;
    width: 711px;
}



.btn-primary{
    border-radius: 48px;
border: none;
color: white;
padding: 20px 40px;
font-size: 1.2rem;
}

.pink{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.blue{
    background: #4EC5F7;
}


/*main section*/
/*videos section*/

.videos{
    padding-top: 100px;
    text-align: center;
}
.grad-section-title{
   background:  linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 2.8rem;
font-weight: 700;
}

.section-title{
    color: #0B0223;
font-size: 2.5rem;
font-weight: 700;
}

.section-description{
    color: #534C64;
font-size: 1.1rem;
font-weight: 400;

}

.card-collection{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container{
    max-width: 345px;
    position: relative;
    
}

.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
  }

  .container:hover .overlay {
    border: 8px solid rgb(156, 19, 88);
    border-radius: 8px;
    opacity: .7;
  }
  .fa-solid fa-play fa-2xl{
    
        color: white;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      
  }
  

/*online games section*/
.online-games-image{
    position: relative;
  top: 0;
  left: 0;

}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 8px;
  }

  .image2 {
    position: absolute;
    top: 410px;
    left: 508px;
    border-radius: 8px;
  }


.online-games{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    margin:80px 200px;
}


.online-games-content-section{

    padding-left: 200px;
}
 
/*game name section*/


.games-collection{
    margin:200px 0px ;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game-name-row{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 180px;
    justify-content: space-around;
    gap:50px;

}

.game-name{
    display: flex;
    max-width: 300px;
border-radius: 50px;
background: #FFF;
border: 2px solid transparent;
padding: 20px 15px;

}


.game-name h2{
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 600;
}

.game-name:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #FF42A5;
    
  }

  /*footer Section*/
  .footer{
    margin-top: -200px;
    background: #0B0223;
    padding-top: 120px;
  }

  
  #footer-logo-title{
    color: #FFF;
font-family: Work Sans;
font-size: 2.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .services{
    display: flex;
    padding: 60px 300px;
   justify-content: space-around;
    color: #FFF;
text-align: center;
font-size: 1.1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
.social-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
   
}



.policy{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 1rem;
font-weight: 500;
}
.policy-section{
    display: flex;
    padding: 0px 450px 20px 450px;
   
    justify-content: space-around;
}

#copy-right{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 1rem;
font-weight: 500;
padding-bottom: 100px;
}













/*Responsive section*/

@media screen and (max-width:576px) {
   body{
   width: 100%;
   }

   main{
    width: 100%;
   }
    header{
        width: 100%;
    }
 .navbar{
    width: 100%;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    
 }

 ul{
    flex-direction: column;
    gap: 30px;
 }
 

 .nav-option{
    flex-direction: column;
    gap: 50px;
 }

 /*banner section Style*/


 .banner{
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
    gap: 50px;
    background-image: url('/images/Group 14.png');
    background-position:left top;
    background-size:400px 400px;
    background-repeat: no-repeat;
    
 }

 .banner-content{
    padding:0px 0px;
    white-space: nowrap;
    width: 100%;
  
    
 }

 .banner-title{
    padding: 0px 20px;
    width: 100%;

 }
 .grad{
    width: 100%;
 }


 .banner-img{
    width:100%;
    padding-right: 0px;
   background-image: none;
    
}

.banner-img img{
    
    width: 90%;
}

/*videos section*/
.videos{
    padding: 10px;
    margin-top: 50px;
}

/*card style*/
.card-collection{
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}


/*Online games section*/
.online-games{
    flex-direction: column;
    justify-content: center;
}

.online-games{
    gap: 100px;
    margin:20px 10px;
}

.online-games-content-section{

 padding: 0px 10px;
}
.online-games-image{
    margin:20px 30px ;
    margin-bottom: 0px;
    position: relative;
  top: 0;
  left: 0;

}

.image1 {
    height: 100%;
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 8px;
  }

  .image2 {
    height: 60%;
    width: 40%;
    position: absolute;
    top: 140px;
    left: 190px;
    border-radius: 8px;
  }

  /*games collection section style */
  .games-collection{
    margin-top: 0px;
    width: 100%;
    
  }
  .game-name-row{
    padding: 100px 20px;
    flex-direction: column;
    justify-content: center;
  }

  /*footer section style*/
  .footer{
    height: auto;
 }
 .services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
 }
 .social-icon{
    display: flex;
    justify-content: center;
    gap: 15px;
   
}

.policy-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);

        padding: 20px 10px;
       
    
    
}


}





@media screen and (min-width:576px) and (max-width:992px){
    .navbar{
        width: 100%;
        flex-direction: column;
        height: auto;
        padding-bottom: 50px;
    }

    .banner{
        flex-direction: column;
        width: 100%;
        background-size: 700px 550px ;
        justify-content: center;
        
    }
    .banner-content{
        width: 80%;
        background-size: 500px 300px ;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img{
        width: 100%;
        padding-left: 200px;
    }

    .card-collection{
        padding: 50px 20px;
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        gap: 15px;
    }

    .online-games{
        flex-direction: column;
        justify-content: center;
    }
    
    .online-games{
        gap: 100px;
        margin:20px 10px;
    }
    
    .online-games-content-section{
    
     padding: 0px 10px;
    }
    .online-games-image{
        margin:20px 100px ;
        margin-bottom: 0px;
        position: relative;
      top: 0;
      left: 0;
    
    }
    
    .image1 {
        height: 100%;
        width: 70%;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 8px;
      }
    
      .image2 {
        height: 60%;
        width: 40%;
        position: absolute;
        top: 280px;
        left: 340px;
        border-radius: 8px;
      }

      .games-collection{
        margin-top: 0px;
        width: 100%;
        
        
      }
      .game-name-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 100px 20px;
        flex-direction: column;
        justify-content: center;
      }

      .game-name{
        display: flex;
        max-width: 300px;
    border-radius: 50px;
    background: #FFF;
    border: 2px solid transparent;
    padding: 10px 5px;
    
    }

    .footer{
        height: auto;
     }
     .services{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 15px;
     }
     .social-icon{
        display: flex;
        justify-content: center;
        gap: 15px;
       
    }
    
    .policy-section{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    
            padding: 20px 10px;
           
        
        
    }
    
}
